@use '../../variables' as var;

.section {
  text-align: center;

  &__books {
    display: grid;

    @media screen and (width >= 1600px) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media screen and (1200px <= width < 1600px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (1200px <= width < 1600px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (900px <= width < 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (600px <= width < 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    grid-gap: var.$card-gap;
    justify-items: center;
    padding: 20px;

    &::after {
      content: '';
      flex: auto;
    }
  }

  &__totalItems {
    @include var.text-large;

    font-weight: 600;
    text-align: center;
  }

  &__button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: var.$bg-button;
    transition: color 0.15s;
    border-radius: 5px;
    color: var.$text-secondary;
    border: none;
    cursor: pointer;

    @include var.text-medium;

    &:hover {
      background-color: var.$bg-button-hover;
    }
  }
}
