@use '../../variables' as var;

.cover {
  box-shadow: var.$book-shadow;
  height: calc(var.$card-height * 0.45);
  width: fit-content;

  &_large {
    width: var.$book-width-large;
  }

  &_blank {
    background-color: white;
    color: var.$text-additional;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 0.8;
  }

  &__img {
    height: 100%;
  }

  &__text {
    @include var.text-large;
  }
}
