@use '../../variables' as var;

.header {
  min-width: 320px;
  background: linear-gradient(rgba(0 0 0 / 0.7), rgba(0 0 0 / 0.7)),
    var.$bg-header;
  background-size: cover;
  text-align: center;
  padding: 20px 10px;
  color: var.$text-secondary;

  &__title {
    margin: 0 0 20px;
  }

  &__search {
    margin-bottom: 15px;
  }

  &__filter {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}
