// text colors
$text-primary: #000;
$text-secondary: #fff;
$text-additional: #616161;
$text-light: #a1a1a1;

// bacrground colors
$bg-book: #f3f2f1;
$bg-main: #fff;
$bg-header: url('../../images/background.jpg');

// fonts
$font-family-default: 'Montserrat', sans-serif;

// sizes
$card-width: 250px;
$card-height: 400px;
$card-gap: 30px;
$book-width-large: 250px;

// other
$input-radius: 4px;
$book-shadow: 10px 10px 20px #aaa;

// mixins
@mixin h1 {
  font-family: $font-family-default;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
}

@mixin h2 {
  font-family: $font-family-default;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

@mixin text-large {
  font-family: $font-family-default;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

@mixin text-medium {
  font-family: $font-family-default;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

@mixin text-small {
  font-family: $font-family-default;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}
